/* ---------- Global components start ---------- */

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Yantramanav-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: bold;
  font-weight: 700;
}

:root {
  --border: 1px solid var(var(--color-light));
  --border-radius: 30px;

  --container-padding-x: 15px;
  --container-width: 1300px;

  --color-dark: #000000;
  --color-dark-gray: #404040;
  --color-light: #ffffff;
  --color-light-gray: #c4c4c4;

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --input-height: 54px;

  --transition-duration: 0.2s;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 1.75;
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

button {
  align-items: center;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 700;
  display: inline-flex;
  height: 38px;
  letter-spacing: 1.2px;
  line-height: 2;
  padding-inline: 26px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover {
  background-color: var(--color-light-gray);
}

.container {
  margin-inline: auto;
  max-width: calc(var(--container-width)+var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
}

/* ---------- General components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Header components start ---------- */

.header {
  align-items: center;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  padding-inline: 32px;
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu-item {
  list-style-type: none;
}

.header-menu-link {
  align-items: center;
  column-gap: 7px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  height: 90px;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu-link.is-current::after {
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  height: 5px;
  width: 5px;
}

.header-actions {
  column-gap: 40px;
  display: flex;
}

.header-burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.header-burger-button:hover {
  border-color: currentColor;
  color: var(--color-light-gray);
}

.header-burger-button-line {
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
  height: 1px;
  width: 6px;
}

/* ---------- Header components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Responsive components start ---------- */

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-inline: 15px;
    padding-top: 20px;
    row-gap: 10px;
  }

  .header-menu {
    flex-basis: 100%;
    order: 1;
  }

  .header-menu-link {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 24px;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }

  .button {
    padding-inline: 18px;
  }
}

/* ---------- Responsive components finish ---------- */
