/* ---------- General components start ---------- */

@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./fonts/Yantramanav-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

:root {
  --border: 1px solid var(--color-light);
  --border-radius: 30px;

  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --header-height: 90px;

  --input-height: 54px;

  --transition-duration: 0.2s;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-light-gray);
}

p {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-light);
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  margin-inline: auto;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
}

.button {
  align-items: center;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  height: 38px;
  letter-spacing: 1.2px;
  line-height: 2;
  padding-inline: 26px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--color-light-gray);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/* ---------- General components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Header components start ---------- */

.header {
  align-items: center;
  background-color: var(--color-dark-alternate);
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  min-height: var(--header-height);
  padding-inline: 32px;
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  column-gap: 50px;
  display: flex;
  flex-wrap: wrap;
}

.header-menu-link {
  align-items: center;
  column-gap: 7px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 700;
  height: var(--header-height);
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu-link.is-current::after {
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
  content: "";
  width: 5px;
}

.header-actions {
  column-gap: 40px;
  display: flex;
}

.header-burger-button {
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  color: var(--color-light);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  row-gap: 4px;
  width: 40px;
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.header-burger-button-line {
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
  height: 1px;
  width: 6px;
}

/* ---------- Header components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Main components start ---------- */

/* ---------- Banner section components start ---------- */

.banner {
  background-color: var(--color-dark-alternate);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh -var(--header-height));
  padding: 36px 70px;
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  align-items: end;
  display: flex;
  font-size: clamp(16px, 1.56vw, 30px);
  font-weight: 700;
  line-height: 1.27;
}

.banner-info::before {
  aspect-ratio: 1;
  background: url("../images/icons/bold-arrow-down-right.svg") center/contain
    no-repeat;
  content: "";
  margin-right: 30px;
  width: clamp(60px, 10.1vw, 194px);
}

.banner-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 7px;
}

.banner-pagination-button::after {
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  content: "";
  transition-duration: var(--transition-duration);
  width: 10px;
}

.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

/* ---------- Banner section components finish ---------- */

/* ---------- Main components finish ---------- */

/*---------------------------------------------------*/

/* ---------- Responsive components start ---------- */

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
  }

  .header,
  .banner {
    padding-inline: 15px;
  }

  .header-menu {
    flex-basis: 100%;
    order: 1;
  }

  .header-menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }

  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 24px;
    list-style-type: none;
  }

  .header-menu-link {
    height: 32px;
  }

  .header-actions {
    column-gap: 15px;
  }

  .banner-info {
    margin-bottom: 5px;
  }

  .banner-info::before {
    margin-right: 10px;
  }
}

/* ---------- Responsive components finish ---------- */
